name: Minikube Integration Test

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

env:
  GOPROXY: https://proxy.golang.org

permissions:
  contents: read

# Limit one unit test job running per PR/Branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  minikube-vm-boot:
    name: Boot
    runs-on: macos-13
    steps:
      - name: Info Block
        shell: bash
        run: |
          uname -a
          sysctl -n hw.memsize
          echo "$(sysctl -n hw.memsize) / 1024 / 1024 / 1024" | bc
          sysctl -n hw.ncpu
          sysctl -n machdep.cpu.brand_string
          sysctl hw.model
          sysctl -n kern.hv_vmm_present
          sysctl -n kern.hv_support
          system_profiler SPHardwareDataType
          sw_vers
          ifconfig

      - name: Ensure bootpd is enabled
        shell: bash
        run: |
          set -x
          fw=/usr/libexec/ApplicationFirewall/socketfilterfw
          sudo "$fw" --remove /usr/libexec/bootpd
          sudo "$fw" --add /usr/libexec/bootpd
          sudo "$fw" --unblock /usr/libexec/bootpd

      - name: Update brew
        run: brew update

      - name: Install tools
        run: brew install tree

      - name: Install vfkit and vmnet-helper
        shell: bash
        run: |
          brew install vfkit
          curl -fsSL https://github.com/minikube-machine/vmnet-helper/releases/latest/download/install.sh \
            | bash -s -- -s

      - name: Start minikube
        id: minikube
        uses: medyagh/setup-minikube@HEAD
        with:
          driver: vfkit
          start-args: --network vmnet-shared --wait-timeout=20m

      - name: Check Proc is up
        if: always()
        run: pgrep vmnet-helper

      - name: Verify minikube logs
        if: always()
        run: cat ~/.minikube/logs/lastStart.txt | grep "Started vmnet-helper" || true

      - name: Inspect minikube logs
        if: always()
        shell: bash
        run: |
          tree -h ~/.minikube
          machine="$HOME/.minikube/machines/minikube"
          machine_logs=$(find "$machine" -name "*.log" || true)
          minikube_logs="$HOME/.minikube/logs/lastStart.txt"
          for f in $machine_logs $minikube_logs /var/db/dhcpd_leases; do
            echo "==> $f <=="
            head -n 1000 "$f" || true
          done
